.field {
    display: grid;
    grid-template-columns: repeat(6, 4em);
}

.field > div {
    border: 1px solid black;
    width: 4em;
    height: 4em;
    display: inline-block;
    box-sizing: border-box;
}

.height1 {
    background-color: red;
}

.height2 {
    background-color: yellow;
}

.height3 {
    background-color: green;
}

.height4 {
    background-color: blue;
}

.field>div.jumper {
    border: 4px solid red;
}
